html {
  background-color: #A52A2A;
}

body {
  color: #fff;
  font-size: 20px;
  padding: 50px 100px;
}

a:hover {
  color: #929ce7;
  text-decoration: none;
}

h1 {
  font-size: 150%;
}

body input {
  color: #000;
}

.app {
  max-width: 690px;
  margin: auto;
}

.box {
  border-left: 10px solid #fff;
  padding: 1.25rem 0.5em;
}
.box:hover {
  border-left: 10px solid orange;
  position: relative;
  background: #f7eddb;
}

.media-left p.image {
  overflow: hidden;
}
